<IfModule mod_expires.c>
    ExpiresActive On

    # Obrazy (jpg, png, webp, gif) - 1 rok
    ExpiresByType image/jpg "access plus 1 year"
    ExpiresByType image/jpeg "access plus 1 year"
    ExpiresByType image/gif "access plus 1 year"
    ExpiresByType image/png "access plus 1 year"
    ExpiresByType image/webp "access plus 1 year"
    ExpiresByType image/svg+xml "access plus 1 year"
    ExpiresByType image/x-icon "access plus 1 year"

    # Fonty (woff2, woff, ttf) - 1 rok
    ExpiresByType font/woff2 "access plus 1 year"
    ExpiresByType font/woff "access plus 1 year"
    ExpiresByType application/x-font-ttf "access plus 1 year"

    # CSS i JavaScript - 1 miesiąc (bezpieczniej, bo częściej edytujesz)
    ExpiresByType text/css "access plus 1 month"
    ExpiresByType text/javascript "access plus 1 month"
    ExpiresByType application/javascript "access plus 1 month"
    
    # Domyślnie - 2 dni
    ExpiresDefault "access plus 2 days"
</IfModule>

<IfModule mod_headers.c>
    # Dodatkowe wymuszenie cache dla plików statycznych
    <FilesMatch "\.(ico|pdf|flv|jpg|jpeg|png|gif|webp|js|css|swf|svg|woff|woff2)$">
        Header set Cache-Control "max-age=31536000, public"
    </FilesMatch>
</IfModule>